# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env
.env.*

# Database
*.db
*.sqlite
*.sqlite3

# Node / React
node_modules/
dist/
build/

# React environment
frontend/.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db